<section class="product-list">
  <div id="grid-cards" class="products-grid">
    <div class="product-row" *ngFor="let p of products">
      <div class="product-info">
        <img [src]="p.image" [alt]="p.title" />
        <div class="product-details">
          <h3 class="md_title">{{ truncate(p.title, 35) }}</h3>
          <p class="md_description">{{ truncate(p.description, 50) }}</p>
          <span class="md_ver-mas" (click)="openModal(p)">ver más</span>
          <p class="price">${{ p.price }}</p>
        </div>
      </div>
      <div class="product-actions">
        <button
          class="my_button add_cart no-close"
          *ngIf="!cart.hasProduct(p)"
          (click)="cart.addProduct(p)"
        >
          Agregar
        </button>

        <div *ngIf="cart.hasProduct(p)" class="quantity-controls no-close">
          <button (click)="cart.updateQuantity(p.id, cart.getQuantity(p) - 1)">
            -
          </button>
          <span>{{ cart.getQuantity(p) }}</span>
          <button (click)="cart.addProduct(p)">+</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal detalle producto -->
<div
  class="md_modal"
  [class.md_show]="modalOpen"
  (click)="closeModalOnOutside($event)"
>
  <div class="md_modal-content">
    <span class="md_close" (click)="closeModal()">&times;</span>
    <img [src]="selectedProduct?.image" [alt]="selectedProduct?.title" />
    <h3>{{ selectedProduct?.title }}</h3>
    <p>{{ selectedProduct?.description }}</p>
    <p class="price">${{ selectedProduct?.price }}</p>
    <p>Categoria: {{ selectedProduct?.category }}</p>
    <div class="product-actions">
      <button
        class="my_button"
        *ngIf="selectedProduct && !cart.hasProduct(selectedProduct)"
        (click)="cart.addProduct(selectedProduct)"
      >
        Agregar
      </button>
      <div
        *ngIf="selectedProduct && cart.hasProduct(selectedProduct)"
        class="quantity-controls"
      >
        <button
          (click)="
            cart.updateQuantity(
              selectedProduct.id,
              cart.getQuantity(selectedProduct) - 1
            )
          "
        >
          -
        </button>
        <span>{{ cart.getQuantity(selectedProduct) }}</span>
        <button (click)="cart.addProduct(selectedProduct)">+</button>
      </div>
    </div>
  </div>
</div>
